/**********************************************************************/
/***                         Imported fonts                         ***/
/**********************************-***********************************/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/


html {
    font-size: 62.5%;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #f2f0e5;
}


/**********************************************************************/
/***                             Header                             ***/
/**********************************-***********************************/

.header-hero {
    grid-area: hero;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "heading"
        "inspire"
        "buttons";
    grid-template-rows: repeat(3, max-content);
}

.header-hero-heading {
    grid-area: heading;
    align-self: end;
}

.header-hero-heading h1 {
    font-size: 380%;
    font-weight: 500;
    color: #f2f0e5;
    text-align: center;
    margin: 1.7rem;
}

.header-hero-inspiration {
    grid-area: inspire;
    color: #f2f0e5;
    justify-self: center;
    align-self: center;
    margin-bottom: 1.3rem;
}

.header-hero-inspiration figure {
    margin: 1rem 0rem;
}

.header-hero-inspiration blockquote {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    justify-self: center;
    margin: 0rem 0rem;
}

.header-hero-inspiration blockquote p {
    justify-self: center;
    margin: 0rem;
}

.header-hero-inspiration blockquote p i {
    font-size: 1rem;
}

.header-hero-inspiration figcaption {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0.9rem 0rem;
}

.header-hero-buttons {
    grid-area: buttons;
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "btn-1"
        "btn-2"
        "btn-3"
        "btn-4";
    grid-template-rows: repeat(4, max-content);
    grid-row-gap: 0.5rem;
    place-items: center center;
}

.btn-1 {
    grid-area: btn-1;
}

.btn-2 {
    grid-area: btn-2;
}

.btn-3 {
    grid-area: btn-3;
}

.btn-4 {
    grid-area: btn-4;
}

.header-hero-btn {
    justify-self: center;
    margin-bottom: 0.9rem;
    transition: background 0.25s;
}
