/**********************************************************************/
/***                         Imported fonts                         ***/
/**********************************-***********************************/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/


html {
    font-size: 62.5%;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #f2f0e5;
}

.container-navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 5% max-content max-content auto 5%;
    grid-template-areas:
        ". brand title menu .";
    grid-template-rows: 6.5rem;
    background: transparent;
    color: #beb580;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    transition: all 0.3s;
    z-index: 15;
}

.container-navbar-mobile {
    position: fixed;
    display: none;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas:
        ". menu .";
    grid-template-rows: max-content;
    background-color: rgba(26, 33, 63, 0.9);
    color: #0c122c;
    width: 100%;
    top: 6.5rem;
    padding: 0rem;
    margin: 0rem;
    transition: all 0.3s;
    z-index: 15;
}


/**********************************************************************/
/***                      Reusable Components                       ***/
/**********************************-***********************************/

.disabled {
    display: none;
}

.no-decoration {
    text-decoration: none;
}

.font-light {
    color: #f2f0e5;
}

.font-yellow {
    color: #beb580;
}

.font-dark {
    color: #0c122c;
}

.font-green {
    color: #15313a;
}


/**********************************************************************/
/***                             Navbar                             ***/
/**********************************-***********************************/

.container-navbar a {
    color: #beb580;
}

.sticky-navbar {
    top: 0;
    background: #5c6381;
    color: #beb580;
    transition: all 0.3s;
}

.sticky-navbar a {
    color: #beb580;
}

.navbar-brand {
    grid-area: brand;
    justify-self: center;
    align-self: center;
    font-size: 100%;
    padding: 0rem;
    margin: 0rem;
    transition: all 0.3s;
}

.navbar-title {
    grid-area: title;
    justify-self: start;
    align-self: center;
}

.navbar-title span {
    font-size: 350%;
    font-weight: 600;
}

.navbar-menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6.5rem;
    height: 6.5rem;
    justify-items: end;
    align-items: center;
}

.navbar-menu-list {
    list-style: none;
    display: inline-flex;
    align-items: center;
    padding: 0rem;
    margin: 0rem;
}

.navbar-menu-item {
    margin-left: 1.7rem;
}

.navbar-menu-link {
    font-size: 1.7rem;
    font-weight: 500;
}

.navbar-menu-link:hover {
    color: #f2f0e5;
    transition: color 0.25s;
}

.navbar-menu-link:active {
    color: rgba(245, 246, 244, 0.6);
    transition: color 0.25s;
}

.navbar-toggler {
    font-size: 330%;
    padding: 0rem;
    margin: 0rem;
}


/**********************************************************************/
/***                         Mobile Navbar                          ***/
/**********************************-***********************************/

.container-navbar-mobile a {
    color: #bea080;
}

.sticky-navbar-mobile {
    color: #0c122c;
    transition: all 0.255s cubic-bezier(1, 0, 0, 1);
}

.navbar-mobile {
    grid-area: menu;
}

.navbar-mobile-list {
    list-style: none;
    display: block;
    align-items: center;
    padding: 0rem;
    margin: 1.5rem 0rem;
}

.navbar-mobile-item {
    margin-bottom: 0.7rem;
}

.navbar-mobile-link {
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.255s cubic-bezier(1, 0, 0, 1);
}

.navbar-mobile-link:hover {
    color: #f2f0e5
}

.navbar-mobile-link:active {
    color: rgba(245, 246, 244, 0.6);
    transition: color 0.255s cubic-bezier(1, 0, 0, 1);
}


/**********************************************************************/
/***                             Header                             ***/
/**********************************-***********************************/

.header-hero {
    grid-area: hero;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "heading"
        "inspire"
        "buttons";
    grid-template-rows: repeat(3, max-content);
}

.header-hero-heading {
    grid-area: heading;
    align-self: end;
}

.header-hero-heading h1 {
    font-size: 380%;
    font-weight: 500;
    color: #f2f0e5;
    text-align: center;
    margin: 1.7rem;
}

.header-hero-inspiration {
    grid-area: inspire;
    color: #f2f0e5;
    justify-self: center;
    align-self: center;
    margin-bottom: 1.3rem;
}

.header-hero-inspiration figure {
    margin: 1rem 0rem;
}

.header-hero-inspiration blockquote {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    justify-self: center;
    margin: 0rem 0rem;
}

.header-hero-inspiration blockquote p {
    justify-self: center;
    margin: 0rem;
}

.header-hero-inspiration blockquote p i {
    font-size: 1rem;
}

.header-hero-inspiration figcaption {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0.9rem 0rem;
}

.header-hero-buttons {
    grid-area: buttons;
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "btn-1"
        "btn-2"
        "btn-3"
        "btn-4";
    grid-template-rows: repeat(4, max-content);
    grid-row-gap: 0.5rem;
    place-items: center center;
}

.btn-1 {
    grid-area: btn-1;
}

.btn-2 {
    grid-area: btn-2;
}

.btn-3 {
    grid-area: btn-3;
}

.btn-4 {
    grid-area: btn-4;
}

.header-hero-btn {
    justify-self: center;
    margin-bottom: 0.9rem;
    transition: background 0.25s;
}
