/**********************************************************************/
/***                         Imported fonts                         ***/
/**********************************-***********************************/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/**********************************************************************/
/***                          Basic Setup                           ***/
/**********************************-***********************************/


html {
    font-size: 62.5%;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #f2f0e5;
}

.transparent-background {
    background-color: rgba(0,0,0,0);
}

.container-main {
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/gas-fire-pit-at-night.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-color: #f2f0e5;
    width: 100%;
    top: 0;
}


/**********************************************************************/
/***                      Reusable Components                       ***/
/**********************************-***********************************/


.disabled {
    display: none;
}

.no-decoration {
    text-decoration: none;
}

.container-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/gas-fire-pit-at-night.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    z-index: -1;
}


/**********************************************************************/
/***                             Navbar                             ***/
/**********************************-***********************************/


.navbar-brand {
    font-size: 10rem;
    font-weight: 500;
}

.nav-menu-items {
    font-size: 1.4rem;
    font-weight: 500;
}

.sidenav li > h4 {
    font-size: 3rem;
    font-weight: 500;
}

.sidenav li > a > i {
    margin-right: 0.3rem;
}


/**********************************************************************/
/***                             HOME                             ***/
/**********************************-***********************************/


.container-home {
    height: 100%;
    margin: 15rem 0rem;
}

.title-home h2 {
    font-weight: 500;
    letter-spacing: 0.04rem;
}

.card-home {
    border-radius: 0.5rem;
    margin: 1.2rem;
}

.card .card-action:last-child {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}


/**********************************************************************/
/***                         Media Queries                          ***/
/**********************************-***********************************/


/****  /screen and (min-width: 1024px)  ****/

@media screen and (min-width: 1024px) {

    /******************/
    /****  NAVBAR  ****/
    /******************/


    .navbar-brand {
        margin-left: 1.5rem;
    }

}

/****  /screen and (min-width: 1024px)  ****/
