{% extends "base.html" %}
{% block container %}

        <!--  HEADER  -->
        <header class="row container-home-header">
            <div class="header-hero-container">
                <div class="col s10 offset-s1 header-hero-header">
                    <h1>Remote Heater Control</h1>
                </div>
                <div class="hero-login">
                    <form class="hero-form">
                        <div class="hero-form-flash">
                            <p class="hero-flash-text">Test message displayed</p>
                        </div>
                        <input type="text" class="hero-form-username">
                        <input type="text" class="hero-form-password">
                        <input type="button" class="hero-form-btn">
                    </form>
                </div>
            </div>
        </header>
        <!--  /HEADER  -->

{% endblock %}
