{% extends "base.html" %}
{% block container %}

        <!--  SETTINGS CONTENT  -->
        <div class="row container-settings">
            <div class="row">
                <div class="col s12 white-text">
                        <p class="settings-greeting">Hello, {{ member }}. Here are you heaters:</p>
                </div>
            </div>

            <!--  ADMINISTER MEMBERS  -->
            <div class="row container-settings-members">
                <div class="row">
                    <div class="col s12 left-align settings-members-title white-text">
                        <h2>Member Administration</h2>
                    </div>
                </div>
            </div>
            <!--  /ADMINISTER MEMBERS  -->

        </div>
        <!--  /SETTINGS CONTENT  -->

{% endblock %}
